/* ---------- Desktop Styles ---------- */
@media (min-width:700px) {
    .menu-toggle {
        display: none
    }
    .nav {
        display: block
    }
    .nav ul {
        position: static;
        display: flex;
        gap: 0.5rem 1rem;
        background: transparent;
        padding: 0.25rem 10px
    }
    .nav a {
        border: 0;
        padding: 0.8rem 0.75rem
    }
    .nav a:hover, .nav a.is-active {
        background: rgba(255, 255, 255, .35);
        border-radius: 6px
    }
}