/* ----- Min Width of 500px ----- */
@media screen and (min-width: 500px) {
    .menu-toggle {
        display: none
    }
    .nav {
        display: flex;
        flex-direction: row;
        max-height: none;
        overflow: visible;
    }
    .nav a {
        flex: 1 1 auto;
        text-align: center;
        border-top: none;
        border-right: 1px solid rgba(255, 255, 255, .08);
    }
    .nav a:last-child {
        border-right: none
    }
    main {
        gap: 1.25rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}